<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <configSections>
        <section name="jsConfigurationValues" 
          type="System.Configuration.NameValueSectionHandler" />
      </configSections>

      <jsConfigurationValues>
        <add key="someValue" value="a" />
        <add key="apiUrl" value="http://theurl" />
      </jsConfigurationValues>
      

      <!-- the rest of your web.config -->

    </configuration>